#nav{
	height: 136px;
	z-index: 150;
	background-color: #E4D7B1;
	box-shadow: 0 2px 3px rgba(0,0,0, .4);
	/* needs to be navs height */
}

.navbar{
	position: relative;
}

.main-nav-scrolled{
	position: fixed;
	width: 100%;
    top: 0;
    margin-bottom: 136px;
}