#nav{
	font-family: courier new;
	height: 55px;
	z-index: 150;
	background-color: #000;
	box-shadow: 0 2px 3px rgba(0,0,0, .4);
	text-align: center;
	padding-top: 12px;
}

.navbar{
	position: relative;

	#drop-nav{
		position: relative;
		margin-top: -20px;
	}	
}


#drop-nav{
	display: none;
    background-color: rgba(0,0,0,0.9);
    width: 100% !important;
    min-width: 160px;
    z-index: 150;
    padding-top: 10px;
    border-radius: 5px;
    text-align: center;

    ul{
    	padding: 0px;

    	li{
    		display: block;
    		font-size:1.5em;
    	}
    }
}

.active-burger{
	display: block !important;
}

#contact-me, #hamburger, #nav-name{
	background: none;
	border: solid 1px #31b0d5;
	border-radius: 5px;
	color: #31b0d5;
	font-family: courier new;
	font-size: 1.2em;
	display: none;
}

nav li {
	display: inline-block;
	color: #31b0d5;
	font-size: 1.2em;
}

nav a{
	text-decoration: none !important;
	color: #31b0d5;
	padding: 16px;
}

nav a:hover{
	color: #ffffff;
	text-decoration: underline !important;
}

nav .focused:focus{
	color: #31b0d5;
	text-decoration: none !important;
	outline: none;
}

/* connect drop down */
#connect-drop a{
	padding-right: 0px;
}

#connect-content
{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    min-width: 160px;
    z-index: 1;
    padding: 0;
    padding: 5px;
    margin-top: 12px;
    border-radius: 5px;

    ul, ul a{
    	padding: 0px;
    	padding: 2px;
    }
}

#connect-drop:hover{
	color: #ffffff;
	text-decoration: underline !important;
	cursor: pointer;
}


#connect-drop:hover #connect-content {
	display: block;
}

.selected{
	color: #ffffff;
	text-decoration: underline !important;
	outline: none;
}


/* sticky nav */
.main-nav-scrolled{
	position: fixed;
	width: 100%;
    top: 0;
    margin-bottom: 136px;
    height: 55px;

    #drop-nav{
		position: absolute;
		margin-top: -10px !important;
	}	
}
