body {
min-width: 320px;
}

header{
	height: 100vh;
}

li{
	list-style: none;
}

.hero-unit {
    background-image:url('../images/hero1.jpg');
    background-size:cover;
    background-color: #000;
    height:100vh;
    width: 100vw;  
    text-align: center;
    position: fixed;
    top: 0;
    padding-top: 250px;

    #headerback{
    	background-color: rgba(0,0,0,0.7);
    	padding: 20px;

	    h1{
		    color: #fff;
		    font-size: 62px;
		    letter-spacing: -1px;
		    margin-top: -11px;
		    margin-bottom: 0;
		    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	    }

	    h2{
	    	color: #E4D7B1;
	    	font-size: 50px;
	    	letter-spacing: -1px;
	    	line-height: 2;
	    	margin-bottom: 5px;
	    	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	    	font-family: courier new;
	    }

	    button{
	    	cursor: pointer;
	    }
    }
}

#wrapper{
	margin-top: -16px;
	background-color: #fff;
	padding: 140px 50px 50px;
	position: relative;
	z-index: 100;
}

#resume{
	max-width: 650px;
	margin: 0 auto;
}

/* imports */
@import 'partials/media-queries';
@import 'partials/navbar';